<!-- For signing in using any of the 3 methods: credentials, google, github aouth -->
<%- include("../partials/header") %>

<section class="auth-card">
    <h1>Sign In</h1>
    <p>Continue to your KnightTrace dashboard.</p>

    <% if (error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>

    <form action="/users/signin/submit" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <button type="submit">Sign In</button>
    </form>

    <div class="oauth-box">
        <p>Or Alternative Signin Options: </p>

        <a class="button secondary full-width oauth-login" href="/auth/google">
            <img src="/images/Google_logo.svg" alt="Google logo">
            <span>Continue with Google</span></a>
        <a class="button secondary full-width oauth-login" href="/auth/github">
             <img src="/images/GitHub_logo.svg" alt="GitHub logo">
             <span>Continue with GitHub</span></a>
    </div>

    <p class="small-text">
        New to KnightTrace?
        <a href="/users/signup">Create account</a>
    </p>
</section>

<%- include("../partials/footer") %>