<%- include("../partials/header") %>

<section class="page-title">
    <h1>Quiz Generator</h1>
    <p>Create multiple choice quizzes from any tech topic.</p>
</section>

<section class="card">
    <p>This page is connected. Quiz generator logic will be added later.</p>
</section>

<%- include("../partials/footer") %>