</main>

<footer class="site-footer">
    <div class="footer-main">

        <!-- On the Left- Brand -->
        <div class="footer-brand">
            <div class="footer-logo-box">
                <i class="fa-solid fa-code"></i>  <!-- will change with own logo later-->
            </div>

            <h2>KnightTrace</h2>
            <p>The ultimate prep quad for coding, debugging, interviews, and quizzes.</p>
            <p class="made-by">Built by Nafisa Tabassum.</p>
        </div>

        <!-- Middle- Quick Links -->
        <div class="footer-section footer-middle">
             <h3>Quick Links</h3>
              <a href="/dashboard"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
              <a href="/code"><i class="fa-solid fa-code"></i>Code Lab</a>
              <a href="/interviews/new"><i class="fa-solid fa-user-tie"></i>Interview</a>
              <a href="/quizzes/new"><i class="fa-solid fa-circle-question"></i>Quiz</a>
              <a href="/sessions"><i class="fa-solid fa-clock-rotate-left"></i>History</a>
        </div>

        <!-- Right- Contact -->
        <div class="footer-section footer-contact">
            <h3>Contact Us</h3>
             <p class="contact-item">
                 <i class="fa-solid fa-envelope"></i>
                 <a href="mailto:nafisaadt@gmail.com">nafisaadt@gmail.com</a>
             </p>
             <p class="contact-item">
                 <i class="fa-solid fa-location-dot"></i>
                 New York, USA
             </p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 KnightTrace. All rights reserved.</p>
    </div>
</footer>

<script src="/javascripts/main.js"></script>
</body>
</html>